* {
  box-sizing: border-box;
  /* border: 1px solid; */
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  background-color: #dad7cd;

  /* align-items: center; */
  /* align-content: space-between; */
}

.link:hover {
  transform: translateY(10px) scale(1.2);
}

.social:hover {
  background-color: rgba(212, 164, 221, 0.966);
}

.name {
  font: 3em sans-serif;
}

.personal-container {
  display: flex;
  border: 0.1px solid;
  border-color: rgb(216, 226, 226);
  height: 200px;
}

.characteristics {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font: 2em sans-serif;
  background-color: #588157;
}

.attributes {
  display: flex;
  flex-flow: column wrap-reverse;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font: 2em sans-serif;
  background-color: #a3b18a;
}

.thumbnail {
  /* border: 1px solid #ddd;
  border-radius: 4px; */
  padding: 5px;
  width: 30px;
}

.thumbnail2 {
  /* border: 1px solid #ddd;
  border-radius: 4px; */
  padding: 5px;
  width: 50px;
}

.background {
  display: flex;
  font: 1.2em sans-serif;
  /*
  align-items:flex-start;
  align-items:flex-end;
  align-items:center;
  
  flex-direction:column;
  */
}

.background div {
  width: 25%;
}

.school {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a3b18a;
}
.grades {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #588157;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #a3b18a;
}

.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #588157;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .education {
  display: flex;
}

.school {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.grades {
  display: flex;
  flex-direction: column;
  width: 25%;
} */
